@font-face {
    font-family: 'BattleShips1';
    src: url('./fonts/usnavy.woff2') format('woff2'),
         url('./fonts/usnavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', 'Aviner Next', 'Helvetica Neue', sans-serif;
}
